* {
    border: none;
    border-radius: 0;
    font-family: "Agave Nerd Font";
    font-size: 16px;
    min-height: 0;
	padding: 0 1px;
}

window#waybar {
    background: transparent;
    color: white;
	/* border: 1px solid #FFF; */
}

#workspaces button {
    padding: 0 5px;
	margin: 0 2px;
    background: transparent;
    color: white;
	font-weight: bold;
    /* border-top: 2px solid transparent; */
}

#workspaces button.focused {
	color: red;
	font-weight: bold;
	font-size: 24px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network,#custom-linuxdir, #custom-homedir, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 2px 15px;
    margin: 0 4px;
	border: 1px solid #FFF;
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
}
