window.bar {
    background-color: transparent;
    color: white;
    background-image: none;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    box-shadow: none;
    border: none;
    background: #242424;
}

button:active {
    background: #2e3440;
}

button:hover {
    background: #2e3440;
}

label {
    font-weight: bold;
}

.workspaces button.focused {
    color: white;
    font-weight: bold;
    background-color: green;
}

.workspaces button {
    margin-right: 0.15rem;
    background-image: none;
    border: none;
    outline: none;
    box-shadow: none;
    color: white;
}

.client-title {
    color: white;
}

.notification {
    color: yellow;
}

levelbar block,
highlight {
    min-height: 10px;
}

.test > * {
    background-image: none;
    background: none;
    border: none;
    box-shadow: none;
    color: white;
}
