* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: Lilex Nerd Font Propo;
    font-size: 13px;
    font-weight: 600;
}

window#waybar {
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.5;
}

#workspaces {
    /* background-color: transparent; */
    border-radius: 4px;
    background-color: #181825;
    padding: 3px;
    margin: 4px 2px;
    font-size: 18px;
    font-weight: bolder;
}

#workspaces button {
    margin: 1px;
    border-radius: 3px;
    padding: 0 10px;
    color: #cdd6f4;
    font-size: 10px;
}
#workspaces button.active {
    color: #1e1e2e;
    background-color: #cdd6f4;
}

.modules-right {
    border-radius: 4px;
    background-color: #181825;
    padding: 3px 5px;
    margin: 4px 2px;
}

.modules-center {
    color: white;
    font-size: 18px;
    background-color: #181825;
    font-size: 18px;
    margin: 4px 0;
    border-radius: 4px;
    padding: 0 10px;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

#custom-vpn,
#memory,
#custom-power,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#cpu,
#tray {
    border-radius: 4px;
    margin: 6px 3px;
    padding: 2px 12px;
    background-color: #1e1e2e;
    color: #181825;
}

#custom-vpn {
    font-weight: 900;
    color: #fff;
}

#custom-power {
    background-color: #f38ba8;
    margin-right: 6px;
}

#custom-logo {
    padding-right: 7px;
    padding-left: 7px;
    margin-left: 5px;
    font-size: 15px;
    border-radius: 8px 0px 0px 8px;
    color: #1793d1;
}

#custom-vpn.connected {
    background-color: green;
}
#custom-vpn.disconnected {
    background-color: darkred;
}

#memory {
    background-color: #fab387;
}

#battery {
    background-color: #f38ba8;
}

#battery.critical:not(.charging) {
    background-color: #b5e8e0;
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #bf616a;
        color: #b5e8e0;
    }
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: #ff0000;
    color: #ffff00;
}

#battery.charging {
    background-color: #a6e3a1;
    color: #181825;
}

#backlight {
    background-color: #fab387;
}

#wireplumber {
    background-color: #f9e2af;
}

#cpu {
    background-color: #f9e2af;
}

#network {
    background-color: #94e2d5;
    padding-right: 17px;
}


#custom-weather {
    color: white;
    font-size: 18px;
}

#clock {
    background-color: #181825;
    color: white;
    font-size: 18px;
}

#custom-power {
    background-color: #f2cdcd;
}

tooltip {
    border-radius: 8px;
    padding: 15px;
    background-color: #131822;
}

tooltip label {
    padding: 5px;
    background-color: #131822;
}
