* {
    font-family: Lilex Nerd Font Propo;
}

window {
    background-color: transparent;
}

#workspaces button {
    border-radius: 3px;
    padding: 0 10px;
    color: #cdd6f4;
    font-size: 16px;
    font-weight: 600;
}
#workspaces button.active {
    color: #1e1e2e;
    background-color: #cdd6f4;
}

.modules-right {
    border-radius: 2px;
}

.modules-center {
    color: white;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

#custom-vpn,
#memory,
#custom-power,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#cpu,
#mpd,
#tray {
    border-radius: 4px;
    margin: 0 1px;
    padding: 0 12px;
    font-weight: 600;
}

#custom-vpn {
    font-weight: 900;
    color: #fff;
}

#custom-power {
    background-color: #f38ba8;
}

#custom-vpn.connected {
    background-color: green;
}
#custom-vpn.disconnected {
    background-color: darkred;
}

#memory {
    background-color: #fab387;
}

#battery {
    background-color: #f38ba8;
}
#mpd {
    color: white;
}

#battery.critical:not(.charging) {
    background-color: #b5e8e0;
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #bf616a;
        color: #b5e8e0;
    }
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: #ff0000;
    color: #ffff00;
}

#battery.charging {
    background-color: #a6e3a1;
    color: #181825;
}

#backlight {
    background-color: #fab387;
}

#wireplumber {
    background-color: #f9e2af;
}

#cpu {
    background-color: #f9e2af;
}

#network {
    background-color: #94e2d5;
    padding-right: 17px;
}

#custom-weather {
    color: white;
}

#clock {
    /* background-color: #181825; */
    color: white;
}

#custom-power {
    background-color: #f2cdcd;
}

tooltip {
    border-radius: 8px;
    /* padding: 15px; */
    background-color: #131822;
}

tooltip label {
    padding: 5px;
    background-color: #131822;
}
